<div class="container">
  <div class="title-button">
    <h1 class="mt-2 mb-2">MES BARS</h1>
    <button type="button" class="button-create-bar mt-3" data-bs-toggle="modal" data-bs-target="#create-bar">
    Nouveau bar
    </button>
    <div class="modal fade" id="create-bar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Nouveau bar</h3>
          </div>
          <div class="modal-body">
          <div class="d-flex justify-content-center w-100">

          <%= simple_form_for [:barman, @bar], html: { class: "formulary-card form-width", data: { controller: "datepicker" }} do |f| %>


          <div class="d-flex">
          <div class="left-col">
          <h6><%= f.input :name, label: "Nom du bar", input_html: { class: "custom-box-shadow" } %></h6>
          <h6>
          <%= f.input :address, label: "Adresse", placeholder: "test",
            input_html: {data: {address_autocomplete_target: "address"}, class: "d-none" },
            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]} }
          %>
          </h6>
            <h6><%= f.input :description, input_html: { class: "custom-box-shadow" } %></h6>
            <h6><%= f.association :tags, as: :check_boxes,
                            include_hidden: false,
                            input_html: { class: "tag-selector" },
                          item_wrapper_class: 'tag-item' %></h6>
            </div>
            <div class="right-col">
            <h6><%= f.input :average_price, label: "Prix moyen", input_html: { class: "custom-box-shadow" } %></h6>
            <h6><%= f.input :open_at, label: "Ouvre à", as: :string, input_html: { data: { datepicker_target: "startHour" } } %></h6>
            <h6><%= f.input :close_at, label: "Ferme à", as: :string, input_html: { data: { datepicker_target: "endHour" } } %></h6>
            <h6><%= f.input :photos, label: "Photos", as: :file, input_html: { multiple: true }%></h6>
            <h6><%= f.submit "Créer votre Bar", class:"navbar_button"%>
            </div>
          </div>
          <% end %>
          </div>

          </div>


          <div class="modal-footer">
            <button type="button" class="button" data-bs-dismiss="modal">Fermer</button>
          </div>
          </div>
        </div>
      </div>
    </div>


  </div>
    <div class="cards-barman">
      <% @bars.each do |bar| %>
        <% if bar.photos.present? %>
<div class="card-category position-relative" style="background-image: url(<%= cl_image_path(bar.photos.first.key) %>)">


      <% else %>
            <div class="card-category position-relative"  style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)" >
        <% end %>


          <div class="position-relative position-absolute info" data-controller="tooltip">
            <i class="fa-solid fa-info button-card-barman-info" style="color: #ffffff;" data-action="mouseover->tooltip#fire mouseout->tooltip#unfire">


            </i>



              <div class="my-tooltip position-absolute d-none" data-tooltip-target="card">
                  <h6 class="txt-ss-shadow">Promotion en cours et à venir</h6>
                  <h5 class="txt-ss-shadow"> Total : <%= bar.promotions.select_upcoming.size %></h5>
              </div>
          </div>

        <h3><%= link_to bar.name, barman_bar_path(bar), class:'text-decoration-none'%></h3>
        <button type="button" class="button-card-barman-delete" data-bs-toggle="modal" data-bs-target="#delete-bar<%= bar.id %>"><i class="fa-solid fa-trash fa-sm"></i></button>


        <div class="modal fade" id="delete-bar<%= bar.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Êtes-vous certain de vouloir supprimer ce bar ?</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="button" data-bs-dismiss="modal">NON</button>
                <%= link_to "OUI", barman_bar_path(bar), data: {turbo_method: :delete}, class:"button-yes" %>
              </div>
            </div>
          </div>
        </div>

        </div>
      <% end %>

      </div>
    </div>
</div>
