<div class="bar-card-show p-3 m-3">
  <div class="row mb-3">
    <div class="title-button">
      <h1><%= @bar.name %></h1>
      <%= link_to "Mes bars",  barman_bars_path, class:"button" %>
    </div>
    <p><%= @bar.address %></p>
    <div id="carouselExampleIndicators" class="carousel slide col-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @bar.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= "active" if index == 0 %>">
          <%= cl_image_tag photo.key, :width => 300, :crop => "pad", class: 'd-block w-100 rounded-2', style: 'height: 300px; object-fit: cover;' %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="col-8">
      <ul><h3>Informations</h3>
        <li><strong>Description :</strong> <%= @bar.description %></li>
        <li><strong>Prix moyen :</strong> <%= @bar.average_price %> €</li>
        <li><strong>Heures d'ouverture :</strong> <%= @bar.open_at.strftime("%H:%M") %> - <%= @bar.close_at.strftime("%H:%M") %></li>

      </ul>
        <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modify-form">
        Modifier le bar
        </button>
        <div class="modal fade" id="modify-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="staticBackdropLabel">Modifier le bar: <%= @bar.name %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="d-flex justify-content-center w-100">
                <%= simple_form_for [:barman, @bar], html: { class: "formulary-card form-width"} do |f| %>
                  <div class="d-flex">
                    <div class="left-col">
                      <h6><%= f.input :name, input_html: { class: "custom-box-shadow" } %></h6>
                      <h6><%= f.input :address, placeholder: "test",
                        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none" },
                        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]} }
                        %></h6>
                      <h6><%= f.input :category, collection: Bar::CATEGORY, input_html: { class: "custom-box-shadow" } %></h6>
                      <h6><%= f.input :description, input_html: { class: "custom-box-shadow" } %></h6>
                      <h6><%= f.association :tags, as: :check_boxes,
                        include_hidden: false,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item' %></h6>
                    </div>
                    <div class="right-col">
                      <h6><%= f.input :average_price, input_html: { class: "custom-box-shadow" } %></h6>
                      <h6><%= f.input :open_at, input_html: { class: "custom-box-shadow" } %></h6>
                      <h6><%= f.input :close_at, input_html: { class: "custom-box-shadow" } %></h6>
                      <h6><%= f.input :photos, as: :file, input_html: { multiple: true } %></h6>
                      <h6><%= f.submit "Éditer votre Bar", class:"navbar_button"%></h6>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="button" data-bs-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

  <div class="bar-info row justify-content-around m-3 p-3">
    <ul><h3 class=>Mes promotions en cours et à venir</h3></ul>
    <h6 class= "select-show" ><%= link_to 'en cours / à venir', :select => "upcoming" %></h6>
    <h6 class= "select-show" ><%= link_to 'passées', :select => "past" %></h6>
      <div class="d-flex justify-content-center">
          <% @promos.each do |promo| %>
              <div class="promo-card mx-3">
                <h6><%= promo.name %></h6>
                <p><%= promo.offer %></p>
                <p>du : <%= promo.start_date %></p>
                <p>au : <%= promo.end_date %></p>
                <div class="mt-auto d-flex justify-content-center box-button">

                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#edit-promotion">
                Modifier la promotion
                </button>

                <div class="modal fade" id="edit-promotion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Modifier la promotion</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="d-flex justify-content-center w-100">

                          <%= simple_form_for [:barman, @bar, @promotion], html: { class: "formulary-card form-width"} do |f| %>
                              <div class="d-flex">
                                <div class="left-col">
                          <h6><%= f.input :name, input_html: { class: "custom-box-shadow" } %></h6>
                          <h6><%= f.input :offer, input_html: { class: "custom-box-shadow" } %></h6>
                                </div>
                                  <div class="right-col">
                          <h6><%= f.input :start_date, input_html: { class: "custom-box-shadow" } %></h6>
                          <h6><%= f.input :end_date, input_html: { class: "custom-box-shadow" } %></h6>
                          <h6><%= f.submit "Éditer promotion", class:"navbar_button" %></h6>
                              </div>
                            </div>
                        <% end %>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="button" data-bs-dismiss="modal">Fermer</button>
                    </div>

                  </div>

                  </div>
                </div>
              </div>


                <button type="button" class="button button-card-barman-delete" data-bs-toggle="modal" data-bs-target="#delete-modal"><i class="fa-solid fa-trash fa-sm"></i></button>

                <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Êtes-vous certain de vouloir supprimer cette promotion?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="button" data-bs-dismiss="modal">NON</button>
                        <%= link_to "OUI", barman_bar_promotion_path(@bar, promo), data: {turbo_method: :delete}, class:"button" %>
                      </div>
                    </div>
                  </div>
                </div>


                </div>
              </div>
          <% end %>
      </div>
    <button type="button" class="button-new-promotion" data-bs-toggle="modal" data-bs-target="#new-promotion">
    Nouvelle promotion
    </button>

    <div class="modal fade" id="new-promotion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nouvelle promotion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center w-100">

            <%= simple_form_for [:barman, @bar, @promotion], html: { class: "formulary-card form-width"} do |f| %>
                <div class="d-flex">
                  <div class="left-col">
                  <h6><%= f.input :name, input_html: { class: "custom-box-shadow" } %></h6>
                  <h6><%= f.input :offer, input_html: { class: "custom-box-shadow" } %></h6>
                  </div>
              <div class="right-col">
                <h6><%= f.input :start_date, input_html: { class: "custom-box-shadow" } %></h6>
                <h6><%= f.input :end_date, input_html: { class: "custom-box-shadow" } %></h6>
                <h6><%= f.submit "Créer promotion", class:"navbar_button"  %></h6>
              <% end %>

                </div>
            </div>
          </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="button" data-bs-dismiss="modal">Fermer</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  </div>


  <div class="bar-info">
    <h3>Commentaires</h3>
    <ul class="review-list">
      <% @bar.reviews.each do |review| %>
        <li class="review-item">
          <p><%= review.content %></p>
          <p class="rating"><strong>Évaluation :</strong> <%= review.rating %> / 5</p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
