<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/5490965/pexels-photo-5490965.jpeg?cs=srgb&dl=pexels-rachel-claire-5490965.jpg&fm=jpg);">
  <div class="container">
    <h1>Boojee Night, partenaire de vos sorties</h1>
    <p>Trouvez les meilleures offres autour de vous </p>
      <div class="container">
        <div class="r">
          <div class="col-md-12">
            <div class="row justify-content-around">
              <div class="card-body">
                <%= simple_form_for :search, url: bars_path, method: :get, html:{class: "d-flex gap-5 align-items-center"} do |f| %>
                  <div class="form-group col-3 ">
                    <h5><%= f.input :query,
                                label: "OU ?",
                                class: "form-control search-input",
                                placeholder: "Entrez une adresse, ville ou code postal" %></h5>
                  </div>
                  <div class="form-group col-3 mb-0">
                  <h5><%= f.input :tags, collection: Tag.all, as: :check_boxes,
                            label: "Boojee tag ?",
                            include_hidden: false,
                            input_html: { class: "tag-selector" },
                            item_wrapper_class: 'tag-item' %></h5>
                  </div>
                  <div class="form-group col-1">
                  <h5><%= f.input :promotions, collection: [["Aujourd'hui", "today"], ["Demain", "tomorrow"], ["Toutes", "all"]] , as: :check_boxes,
                            label: "Quand ?",
                            include_hidden: false,
                            input_html: { class: "tag-selector-date" },
                            item_wrapper_class: 'tag-item' %></h5>
                  </div>
                  <div class="form-group col-1 ">
                  <%= f.submit "Rechercher", class: "button" %>
                  <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  </div>
</div>


<div class="container text-center">
  <div class="row">
    <div class="col col-lg-6">

      <% @bars.each do |bar| %>
      <%= link_to bar_path(bar), style:'text-decoration: none; color: inherit' do %>
        <div class="bar-card">

          <% if bar.photos.present? %>
              <%= cl_image_tag bar.photos.first.key, height: 300, width: 400, crop: :fill %>
            <% else  %>
              <img src="https://toitoimontoit.fr/wp-content/uploads/2020/02/barabulles-2.jpg" class="bar-card-img" alt="bar-pitcure">
            <% end %>

          <div class="bar-details">

            <div class="bar-card-flex-title">
              <h2 class="bar-name"><strong><%= bar.name %></strong></h2>
                <div class="rating-position">
                <% if !bar.reviews.empty? %>
                  <% sum = 0 %>
                  <% total_reviews = bar.reviews.count %>
                    <% bar.reviews.each do |review| %>
                      <%  sum += review.rating%>
                    <% end %>
                  <% avg = (sum / total_reviews) %>
                    <h3>
                      <% if avg == 1 %>
                        ⭐️
                      <% elsif avg == 2 %>
                        ⭐️⭐️
                      <% elsif avg == 3 %>
                        ⭐️⭐️⭐️
                      <% elsif avg == 4 %>
                        ⭐️⭐️⭐️⭐️
                      <% else avg == 5 %>
                        ⭐️⭐️⭐️⭐️⭐️
                      <% end %>
                    </h3>
                <% end %>
              </div>
            </div>

            <div class="tag-de-tag">
              <% bar.bar_tags.each do |bar_tag| %>
                <div class="tags-style-bar">
                  <h6 ><%= bar_tag.tag.name.capitalize %></h6>
                </div>
              <% end %>
            </div>



            <div class="address-avg-price">
          <p class="address"><%= bar.address %></p>
          <p class="average-price">Prix moyen:
          <% if bar.average_price >= 0 && bar.average_price < 8 %>
            €
          <% elsif bar.average_price >= 8 && bar.average_price < 15 %>
            € €
          <% else %>
            € € €
          <% end %>
          </div>

            <div class="bar-card-flex-promo">
              <% bar.promotions.where.not(name: "🥳 Avantage fidélité -50% lors de votre prochaine visite!").where("promotions.end_date > ?", Date.today).order_by_start_asc.limit(3).each do |promo| %>
              <p class="promo-card-index"><%= promo.name %></p>
              <% end %>
            </div>

          </div>

        </div>
    <% end %>
      <% end %>

    </div>


    <div class="col col-lg-6" class="sticky">
      <div id="map" style="width: 100%; height: 100vh; border-radius: 3px; margin-bottom: 20px;     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
