<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/5490965/pexels-photo-5490965.jpeg?cs=srgb&dl=pexels-rachel-claire-5490965.jpg&fm=jpg);">
  <div class="container">
    <h1>Boojee Night, partenaire de vos sorties.</h1>
    <p>Trouvez les meilleures offres autour de vous </p>
      <div class="container">
        <div class="r">
          <div class="col-md-10">
            <div class="row justify-content-around">
              <div class="card-body">
                <%= simple_form_for :search, url: bars_path, method: :get, html:{class: "d-flex gap-5"} do |f| %>
                  <div class="form-group col">
                    <%= f.input :query,
                                label: "Recherche par adresse, ville ou code postal",
                                class: "form-control search-input",
                                placeholder: "Entrez une adresse, ville ou code postal" %>
                  </div>
                  <div class="form-group col">
                  <%= f.input :tags, collection: Tag.all, as: :check_boxes,
                            label: "Tags associés",
                            include_hidden: false,
                            input_html: { class: "tag-selector" },
                            item_wrapper_class: 'tag-item' %>
                  </div>
              <div class="form-group col d-flex flex-column justify-content-center align-items-center">
              <%= f.submit "Rechercher", class: "button" %>
            <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  </div>
</div>


<div class="container text-center">
 <div class="row">
    <div class="col col-lg-6">

      <% @bars.each do |bar| %>
      <%= link_to bar_path(bar), style:'text-decoration: none; color: inherit' do %>
        <div class="bar-card">

          <% if bar.photos.present? %>
              <%= cl_image_tag bar.photos.first.key, height: 300, width: 400, crop: :fill %>
            <% else  %>
              <img src="https://toitoimontoit.fr/wp-content/uploads/2020/02/barabulles-2.jpg" class="bar-card-img" alt="bar-pitcure">
            <% end %>

          <div class="bar-details">

            <div class="bar-card-flex-title">
              <h2 class="bar-name"><strong><%= bar.name %></strong></h2>
                <div class="rating-position">
                <%# <h2 class="rating"><%= bar.reviews.last.rating %>/5</h2>
              </div>
            </div>

            <div class="tags-style">
              <% bar.bar_tags.each do |bar_tag| %>
              <span><strong>#<%= bar_tag.tag.name %></strong></span>
              <% end %>
            </div>

            <div class="address-avg-price">
              <p class="address"><%= bar.address %></p>
              <p class="average-price"><strong>Prix moyen: </strong> <%= bar.average_price %>€</p>
            </div>

            <div class="bar-card-flex-promo">
              <% bar.promotions.each do |promo| %>
              <p class="promo-card-index"><strong><%= promo.name %></strong></p>
              <% end %>
            </div>

          </div>

        </div>
    <% end %>
      <% end %>

    </div>


    <div class="col col-lg-6" class="sticky">
      <div id="map" style="width: 100%; height: 100vh;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
