<div class="bar-card-show p-3 m-3">
  <div class="bar-info">
    <h1><%= @bar.name %></h1>
    <p><%= @bar.address %></p>
     <img src="Central_Pub.png" alt="Image du bar">
    <p>Categorie : <%= @bar.category %></p>
    <p>Description :<%= @bar.description %></p>
    <p>Prix moyen :<%= @bar.average_price %></p>
    <p>Heure d'ouverture :<%= @bar.open_at %></p>
    <p>Heure de fermeture<%= @bar.close_at %></p>
  </div>
</div>


<p>index des promos du bar</p>
<% @promos.each do |promo| %>
<%= link_to promo.name, bar_promotion_path(promo.bar, promo) %>
<% end %>

<p>index des reviews du bar</p>
<% @bar.reviews.each do |review| %>
<%= review.content %>
<%= review.rating %>
<% end %>
