
<div class="bar-card-show p-3 m-3">
<div class="container">
  <h1>Vos réservations</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Promotion</th>
        <th scope="col">Bar</th>
        <th scope="col">Début <%= link_to '△', :sort => "start-asc" %> <%= link_to '▽', :sort => "start-desc" %> </th>
        <th scope="col">Fin <%= link_to '△', :sort => "end-asc" %> <%= link_to '▽', :sort => "end-desc" %></th>
        <th scope="col">Status</th>
        <th scope="col">Annuler</th>
        <th scope="col">Commenter</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <th scope="row"></th>
          <td><%= booking.promotion.name%></td>
          <td><%= link_to booking.promotion.bar.name, bar_path(booking.promotion.bar)%></td>
          <td><%= booking.promotion.start_date.strftime("%d/%m/%y")%></td>
          <td><%= booking.promotion.end_date.strftime("%d/%m/%y")%></td>
            <% if booking.used? %>
              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym]%></td>
            <% elsif  Date.today > booking.promotion.end_date %>
                <%booking.expired! %>

              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym] %></td>
            <% else %>
              <% booking.pending! %>
              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym] %></td>
            <% end %>
          <td><%= link_to '🗑', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "êtes-vous sûr?"}  %></td>
          <td><%= link_to '📝', new_booking_review_path(booking)  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
