
<div class="bar-card-show p-3 m-3">
<div class="container">
  <div class="d-flex-start">
  <h1>Vos réservations</h1>
  <h6 class= "select-show" ><%= link_to 'à venir', :select => "pending" %></h6>
  <h6 class= "select-show" ><%= link_to 'utilisée', :select => "used" %></h6>
  <h6 class= "select-show" ><%= link_to 'expirée', :select => "expired" %></h6>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Promotion</th>
        <th scope="col">Bar</th>
        <th scope="col">Début <%= link_to '△', :sort => "start-asc" %> <%= link_to '▽', :sort => "start-desc" %> </th>
        <th scope="col">Fin <%= link_to '△', :sort => "end-asc" %> <%= link_to '▽', :sort => "end-desc" %></th>
        <th scope="col">QR CODE</th>
        <th scope="col">Status</th>
        <th scope="col">Annuler</th>
        <th scope="col">Commenter</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each_with_index do |booking, index| %>
        <tr>
          <th scope="row"></th>
          <td><%= booking.promotion.name%></td>
          <td><%= link_to booking.promotion.bar.name, bar_path(booking.promotion.bar)%></td>
          <td><%= booking.promotion.start_date.strftime("%d/%m/%y")%></td>
          <td><%= booking.promotion.end_date.strftime("%d/%m/%y")%></td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#qr-modal-<%= booking.id%>">
          Launch demo modal</button></td>
            <% if booking.used? %>
              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym]%></td>
            <% elsif  Date.today > booking.promotion.end_date %>
                <%booking.expired! %>

              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym] %></td>
            <% else %>
              <% booking.pending! %>
              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym] %></td>
            <% end %>
            <td class="text-center">
              <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "êtes-vous sûr?"} do %>
                <%= icon('fa-solid', 'trash-can', style: 'color: #eb417a')%></i>
              <% end %>
            </td>

          <% if booking.used? %>
            <td class="text-center">
            <%= link_to new_booking_review_path(booking) do %>
              <i class="fa-solid fa-pen-to-square" style="color: #ec407a;"></i>
            <% end %>
            </td>
          <% else %>
            <td class="text-center">
                <%= link_to "#", data: { turbo_notice: "Vous devez utiliser votre promotion pour pouvoir laiser un commentaire."} do %>
                  <i class="fa-solid fa-pen-to-square" style="color: #727379;"></i>
                <% end %>
            </td>
          <% end %>
        </tr>
<div class="modal fade" id="qr-modal-<%= booking.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= @qr_codes[index].html_safe %>
      </div>
    </div>
  </div>
</div>
      <% end %>
    </tbody>
  </table>
</div>
</div>
