
<div class="bar-card-show p-3 m-3">
<div class="container">
  <div class="d-flex-start">
  <h1>Vos réservations</h1>
  <h6 class= "select-show " ><%= link_to 'à venir', :select => "pending" %></h6>
  <h6 class= "select-show" ><%= link_to 'utilisée', :select => "used" %></h6>
  <h6 class= "select-show" ><%= link_to 'expirée', :select => "expired" %></h6>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Promotion</th>
        <th scope="col">Bar</th>
        <th scope="col">Validité</th>
        <th scope="col">QR Code</th>
        <th scope="col">Status</th>
        <th scope="col">Annuler</th>
        <th scope="col">Commenter</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each_with_index do |booking, index| %>
        <tr>
          <th scope="row"></th>
          <td><%= booking.promotion.name%></td>
          <td><h5><%= link_to booking.promotion.bar.name, bar_path(booking.promotion.bar), class: "text-decoration-none", style:"color: #ec407a;" %></h5></td>
          <td>du <%= booking.promotion.start_date.strftime("%d %b").downcase%>  au <%= booking.promotion.end_date.strftime("%d %b").downcase%></td>
            <% if booking.used? %>
              <td class="text-center">
              <i class="fa-solid fa-qrcode" style="color: #727379;" ></i>
              </td>
              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym]%></td>
              <td class="text-center">
                <%= link_to booking_path(booking) do %>
                  <%= icon('fa-solid', 'trash-can', style: 'color: #727379')%></i>
                <% end %>
              </td>
            <% elsif  Date.today > booking.promotion.end_date %>
              <%booking.expired! %>
              <td class="text-center">
              <i class="fa-solid fa-qrcode" style="color: #727379;" ></i>
              </td>
              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym] %></td>
            <td class="text-center">
              <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "êtes-vous sûr?"} do %>
                <%= icon('fa-solid', 'trash-can', style: 'color: #727379')%></i>
              <% end %>
            </td>
            <% else %>
              <% booking.pending! %>
              <td class="text-center">
              <i class="fa-solid fa-qrcode" style="color: #ec407a;" data-bs-toggle="modal" data-bs-target="#qr-modal-<%= booking.id%>"></i>
              </td>
              <td><%= booking.qr_progress_labels[booking.qr_progress.to_sym] %></td>
            <td class="text-center">
              <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "êtes-vous sûr?"} do %>
                <%= icon('fa-solid', 'trash-can', style: 'color: #eb417a')%></i>
              <% end %>
            </td>
            <% end %>

          <% if booking.used? %>
            <td class="text-center">
            <%= link_to new_booking_review_path(booking) do %>
              <i class="fa-solid fa-pen-to-square" style="color: #ec407a;"></i>
            <% end %>
            </td>
          <% else %>
            <td class="text-center">
                <%= link_to new_booking_review_path(booking) do %>
                  <i class="fa-solid fa-pen-to-square" style="color: #727379;"></i>
                <% end %>
            </td>
          <% end %>
        </tr>
<div class="modal fade" id="qr-modal-<%= booking.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="custom-modal-body">
        <div class="custom-qr-code-class"><%= @qr_codes[index].html_safe %></div>
      </div>
</div>
      <% end %>
    </tbody>
  </table>
</div>
</div>
