
<div class="page-container">
  <div class="formulary-card">
    <h6>
      Commenter votre expérience chez <%= @booking.promotion.bar.name.capitalize %>
    </h6>
    <%= simple_form_for [@booking, @review] do |f| %>
      <h6>
        <%= f.input :content,
                    as: :text,
                    label: "Commentaire",
                    input_html: { class: "custom-box-shadow" }%>
      </h6>
      <h6>
        <%= f.input :rating,
                    as: :integer,
                    label: "Note (entre 0 et 5)",
                    input_html: { class: "custom-box-shadow" }%>
      </h6>
      <h6>
        <%= f.submit 'Soumettre mon commentaire', class:"navbar_button" %>
      </h6>
    <% end %>
  </div>
</div>
